.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
background: #000000 !important;
color:#fff !important;
}
.dropdown {
background: #ffffff;
margin-top: -25px;
border:1px solid #000000;
border-radius:4px;
width:350px;
font-weight: bold;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
.dropdown-menu>li>a {
color: #000000;
font-weight: bold;
}
.dropdown-menu>li>a:hover {
    color: #000000;
    background: #D9EB0B ;
}
.dropdown ul.dropdown-menu {
border-radius:4px;
box-shadow:none;
margin-top:20px;
width:350px;
}
.dropdown ul.dropdown-menu:before {
content: "";
border-bottom: 10px solid #fff;
border-right: 10px solid transparent;
border-left: 10px solid transparent;
position: absolute;
top: -10px;
right: 16px;
z-index: 10;
}
.dropdown ul.dropdown-menu:after {
content: "";
border-bottom: 12px solid #ccc;
border-right: 12px solid transparent;
border-left: 12px solid transparent;
position: absolute;
top: -12px;
right: 14px;
z-index: 9;
}